.mobile-menu-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  bottom: -100%;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  -webkit-transition: .75s;
  transition: .75s;
  -webkit-transform: scale3d(0, 0, 1);
          transform: scale3d(0, 0, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .mobile-menu-wrapper.active {
    bottom: 0;
    -webkit-transform: none;
            transform: none; }
  .mobile-menu-wrapper .scrollable-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    overflow-scrolling: touch; }
    .mobile-menu-wrapper .scrollable-area .top-bar {
      background-color: #31374D;
      height: 76px; }
  .mobile-menu-wrapper .mobile-menu {
    position: relative; }
  .mobile-menu-wrapper .mobile-menu-item {
    color: #111111;
    line-height: 1.2;
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    padding: 12px 20px; }
    .mobile-menu-wrapper .mobile-menu-item a {
      font-weight: 500;
      text-decoration: none;
      color: #111111; }
    .mobile-menu-wrapper .mobile-menu-item.is-active, .mobile-menu-wrapper .mobile-menu-item:hover {
      background-color: #f4f9fb;
      cursor: pointer; }
    .mobile-menu-wrapper .mobile-menu-item.is-small {
      font-size: .9rem;
      padding: 12px 20px; }

.mobile-menu-wrapper .closebtn {
  position: absolute;
  top: 6px;
  right: 0;
  padding: 20px;
  display: inline-block;
  z-index: 1;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: center; }
  .mobile-menu-wrapper .closebtn span {
    vertical-align: middle;
    display: inline-block; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all .4s;
  transition: all .4s; }
  .overlay.active {
    z-index: 99998;
    visibility: visible;
    background-color: rgba(66, 69, 90, 0.95); }

@media all and (min-width: 1068px) {
  .mobile-menu-wrapper {
    display: none; }
  .overlay {
    display: none !important; } }
