@charset "UTF-8";
/* BODY variables */
/* content variables */
/* BODY variables */
/* content variables */
/* BODY variables */
/* content variables */
/*.example{
  padding: 10px;
  @include themify {
    background: theme-get(bg-color);
    color: theme-get(text-color-white);
  }
}*/
/* mixin for multiline text */
/*.fa-visa-greybg {
  @include sprite($s-visa-greybg);
}*/
.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5rem;
  width: auto; }
  .icon.icon-md {
    width: 76px; }
  .icon.icon-sm {
    width: 36px; }
  .icon.icon-lg {
    width: 90px; }
  .icon.icon-circle {
    border-radius: 50%;
    overflow: hidden; }

.icon.is-small {
  height: 1rem;
  width: 1rem; }

.icon.is-small .fa {
  font-size: 14px; }

.icon.is-medium {
  height: 2rem;
  width: 2rem; }

.icon.is-medium .fa {
  font-size: 28px; }

.icon.is-large {
  height: 3rem;
  width: 3rem; }

.icon.is-large .fa {
  font-size: 42px; }

/* custom icons */
.globe-icon:before {
  content: '';
  background: url("../../images/globe-icon.png") no-repeat;
  height: 15px;
  background-size: cover;
  width: 15px;
  display: inline-block;
  vertical-align: middle; }

.edit-icon:before {
  content: '';
  background: url("../../images/pen-icon.png") no-repeat;
  height: 50px;
  background-size: cover;
  width: 50px;
  display: inline-block;
  vertical-align: middle; }

.trash-icon:before {
  content: '';
  background: url("../../images/trash-icon.png") no-repeat;
  height: 50px;
  background-size: cover;
  width: 50px;
  display: inline-block;
  vertical-align: middle; }

.user-icon:before {
  content: '';
  background: url("../../images/user-icon.png") no-repeat;
  height: 36px;
  background-size: cover;
  width: 36px;
  display: inline-block;
  vertical-align: middle; }

.user-icon-2:before {
  content: '';
  background: url("../../images/user-icon-2.png") no-repeat;
  height: 36px;
  background-size: cover;
  width: 36px;
  display: inline-block;
  vertical-align: middle; }

.clip-icon:before {
  content: '';
  background: url("../../images/clip-icon.png") no-repeat;
  height: 20px;
  background-size: cover;
  width: 14px;
  display: inline-block;
  vertical-align: middle; }

.container {
  max-width: 73.125em;
  margin: 0 auto;
  position: relative; }

.container.is-fluid {
  margin-left: 15px;
  margin-right: 15px;
  max-width: none;
  width: auto; }

@media screen and (min-width: 1068px) {
  .container {
    max-width: 960px;
    width: 960px; }
  .container.is-fluid {
    margin-left: 30px;
    margin-right: 30px;
    max-width: none;
    width: auto; } }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.grid-cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.grid__flex-Ñells > .grid-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.grid--top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.grid--bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.grid--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.grid--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.grid--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.grid__justify-enter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.grid-cell--top {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.grid-cell--bottom {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.grid-cell--center {
  -ms-flex-item-align: center;
      align-self: center; }

.grid-cell__auto-size {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }

.grid--fit > .grid-cell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.grid--full > .grid-cell {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.grid--1of2 > .grid-cell {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.grid--1of3 > .grid-cell {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%; }
  .grid--1of3 > .grid-cell.grid-cell--2of3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666%;
            flex: 0 0 66.6666%; }
    @media only screen and (max-width: 1067px) {
      .grid--1of3 > .grid-cell.grid-cell--2of3 {
        -webkit-box-flex: 1;
            -ms-flex: auto;
                flex: auto; } }
  @media only screen and (max-width: 1067px) {
    .grid--1of3 > .grid-cell {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto; } }

.grid--1of4 > .grid-cell {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%; }
  @media only screen and (max-width: 1199px) {
    .grid--1of4 > .grid-cell {
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto; } }
  .grid--1of4 > .grid-cell.grid-cell--3of4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%; }
    @media only screen and (max-width: 1199px) {
      .grid--1of4 > .grid-cell.grid-cell--3of4 {
        -webkit-box-flex: inherit;
            -ms-flex: inherit;
                flex: inherit; } }

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .grid.grid--1of3, .grid--1of3 > .grid-cell {
    display: block;
    width: 100%; }
  .grid--1of4, .grid--1of4 > .grid-cell {
    display: block;
    width: 100%; } }

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .grid.grid--1of3, .grid--1of3 > .grid-cell {
    display: block;
    width: 100%; }
  .grid--1of4, .grid--1of4 > .grid-cell {
    display: block;
    width: 100%; } }

@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .tab-pane.is-active {
    display: block;
    width: 100%; } }

@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .tab-pane.is-active {
    display: block;
    width: 100%; } }

@media (--break-sm) {
  .small-grid--fit > .grid-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .small-grid--full > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .small-grid--1of2 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .small-grid--1of3 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%; }
  .small-grid--1of4 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; } }

@media (--break-md) {
  .med-grid--fit > .grid-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .med-grid--full > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .med-grid--1of2 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .med-grid--1of3 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%; }
  .med-grid--1of4 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; } }

@media (--break-lg) {
  .large-grid--fit > .grid-cell {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .large-grid--full > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .large-grid--1of2 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .large-grid--1of3 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%; }
  .large-grid--1of4 > .grid-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%; } }

.grid--gutters {
  margin: -1em 0 1em -1em; }

.grid--gutters > .grid-cell {
  padding: 1em 0 0 1em; }

.grid__gutters-lg {
  margin: -1.5em 0 1.5em -1.5em; }

.grid__gutters-lg > .grid-cell {
  padding: 1.5em 0 0 1.5em; }

.grid__gutters-xl {
  margin: -2em 0 2em -2em; }

.grid__gutters-xl > .grid-cell {
  padding: 2em 0 0 2em; }

@media (--break-sm) {
  .small-grid--gutters {
    margin: -1em 0 1em -1em; }
  .small-grid--gutters > .grid-cell {
    padding: 1em 0 0 1em; }
  .small-grid__gutters-lg {
    margin: -1.5em 0 1.5em -1.5em; }
  .small-grid__gutters-lg > .grid-cell {
    padding: 1.5em 0 0 1.5em; }
  .small-grid__gutters-xl {
    margin: -2em 0 2em -2em; }
  .small-grid__gutters-xl > .grid-cell {
    padding: 2em 0 0 2em; } }

@media (--break-md) {
  .med-grid--gutters {
    margin: -1em 0 1em -1em; }
  .med-grid--gutters > .grid-cell {
    padding: 1em 0 0 1em; }
  .med-grid__gutters-lg {
    margin: -1.5em 0 1.5em -1.5em; }
  .med-grid__gutters-lg > .grid-cell {
    padding: 1.5em 0 0 1.5em; }
  .med-grid__gutters-xl {
    margin: -2em 0 2em -2em; }
  .med-grid__gutters-xl > .grid-cell {
    padding: 2em 0 0 2em; } }

@media (--break-lg) {
  .large-grid--gutters {
    margin: -1em 0 1em -1em; }
  .large-grid--gutters > .grid-cell {
    padding: 1em 0 0 1em; }
  .large-grid__gutters-lg {
    margin: -1.5em 0 1.5em -1.5em; }
  .large-grid__gutters-lg > .grid-cell {
    padding: 1.5em 0 0 1.5em; }
  .large-grid__gutters-xl {
    margin: -2em 0 2em -2em; }
  .large-grid__gutters-xl > .grid-cell {
    padding: 2em 0 0 2em; } }

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 2.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: 500;
  height: 2.25em;
  line-height: 1.355;
  padding-bottom: calc(0.375em - 1px);
  padding-top: calc(0.375em - 1px);
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: white;
  color: #424559;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.button-circle {
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 50%;
  overflow: hidden; }

.button-default {
  background: #55D389;
  color: #ffffff;
  border: 1px solid #66BF8B; }
  .button-default:hover, .button-default:focus, .button-default:active {
    background: #35cb73;
    color: #ffffff;
    border-color: #4ab275;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .button-default.disabled {
    -webkit-box-shadow: none;
            box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed; }

.button:focus, .button:active, .button.is-active {
  outline: none; }

.button[disabled] {
  cursor: not-allowed; }

.button strong {
  color: inherit; }

.button[disabled] {
  background-color: white;
  border-color: #dbdbdb;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.5; }

.button.is-fullwidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.release-bitcoins-btn {
  -webkit-box-shadow: 0 1px 8px rgba(127, 127, 127, 0.3);
          box-shadow: 0 1px 8px rgba(127, 127, 127, 0.3); }

/* BODY variables */
/* content variables */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #logo {
    display: block; } }

/* BODY variables */
/* content variables */
/* BODY variables */
/* content variables */
/*.example{
  padding: 10px;
  @include themify {
    background: theme-get(bg-color);
    color: theme-get(text-color-white);
  }
}*/
/* mixin for multiline text */
@media only screen and (max-width: 767px) {
  .visible-xs {
    display: block; } }

@media only screen and (max-width: 767px) {
  .hidden-xs {
    display: none; } }

.visible-tablet {
  display: none; }
  @media only screen and (max-width: 1067px) {
    .visible-tablet {
      display: block; } }

@media only screen and (max-width: 1067px) {
  .hidden-tablet {
    display: none; } }

.img-responsive {
  max-width: 100%;
  height: auto; }

.overflow-hidden {
  overflow: hidden; }

/*.m-a-xs { margin:        ($spacer * 0.5) !important; }
.m-t-xs { margin-top:    ($spacer-y * 0.5) !important; }
.m-r-xs { margin-right:  ($spacer-y * 0.5) !important; }
.m-b-xs { margin-bottom: ($spacer-y * 0.5) !important; }
.m-l-xs { margin-left:   ($spacer-y * 0.5) !important; }
.m-x-xs { margin-right:  ($spacer-x * 0.5) !important; margin-left:   ($spacer-x * 0.5) !important; }
.m-y-xs { margin-top:    ($spacer-y * 0.5) !important; margin-bottom: ($spacer-y * 0.5) !important; }

.p-a-xs { padding:        ($spacer * 0.5) !important; }
.p-t-xs { padding-top:    ($spacer-y * 0.5) !important; }
.p-r-xs { padding-right:  ($spacer-y * 0.5) !important; }
.p-b-xs { padding-bottom: ($spacer-y * 0.5) !important; }
.p-l-xs { padding-left:   ($spacer-y * 0.5) !important; }
.p-x-xs { padding-right:  ($spacer-x * 0.5) !important; padding-left:   ($spacer-x * 0.5) !important; }
.p-y-xs { padding-top:    ($spacer-y * 0.5) !important; padding-bottom: ($spacer-y * 0.5) !important; }*/
@font-face {
  font-family: Lato-Condensed;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Light.woff2") format("woff2"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Light.woff") format("woff"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Light.ttf") format("truetype");
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: Lato-Bold;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Black.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Black.woff2") format("woff2"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Black.woff") format("woff"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Black.ttf") format("truetype");
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: Lato-Demi;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Bold.woff2") format("woff2"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Bold.woff") format("woff"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Bold.ttf") format("truetype");
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: Lato-Regular;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.woff2") format("woff2"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.woff") format("woff"), url("../../fonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.ttf") format("truetype");
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  text-rendering: optimizeLegibility; }

/* clearfix */
.clearfix:before, .clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: Lato-Regular, Roboto, 'Open Sans', sans-serif;
  font-size: 1rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative; }
  @media only screen and (max-width: 767px) {
    body {
      overflow: hidden; } }

@media only screen and (max-width: 767px) {
  body, html {
    height: 100%; } }

.text-orange {
  color: #f8ca85; }

.text-green {
  color: #3CC875; }

.text-red {
  color: #E00D28; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-uppercase {
  text-transform: uppercase; }
